doctype html
head
  style   
     include ../static/mover.css
  title Document
link(rel='stylesheet' href='style.css')
.main-container
  .heading
    h1.heading__title MOVERS
    // <p class="heading__credits"><a class="heading__link" target="_blank" href="https://dribbble.com/sl">Design by Simon Lurwer on Dribbble</a></p>
  .cards
    .card.card-1
      .card__icon
        i.fas.fa-bolt
      p.card__exit
        i.fas.fa-times
      a.card__title(href='https://www.aires.com/' target='_blank') AIRES
    .card.card-2
      .card__icon
        i.fas.fa-bolt
      p.card__exit
        i.fas.fa-times
      a.card__title(href='https://www.unitedvanlines.com/' target='_blank') UNITED VAN LINES
    .card.card-3
      .card__icon
        i.fas.fa-bolt
      p.card__exit
        i.fas.fa-times
      a.card__title(href='https://www.leopackersindia.com/' target='_blank') LEO PACKERS INDIA
    .card.card-4
      .card__icon
        i.fas.fa-bolt
      p.card__exit
        i.fas.fa-times
      a.card__title(href='https://viptransport.com/' target='_blank') VIP TRANSPORT
