doctype html
head
 style 
     include ../static/rental.css
title Document
.main-container
  .heading
    h1.heading__title RENTALS
  .cards
    .card.card-3
      .card__icon
        i.fas.fa-bolt
      p.card__exit
        i.fas.fa-times
      a.card__title(href='https://www.facebook.com/HousingAnywherecom/' target='_blank') HOUSING ANYWHERE
    .card.card-1
      .card__icon
        i.fas.fa-bolt
      p.card__exit
        i.fas.fa-times
      a.card__title(href='https://www.places4students.com/' target='_blank') PLACES 4 STUDENTS
    .card.card-2
      .card__icon
        i.fas.fa-bolt
      p.card__exit
        i.fas.fa-times
      a.card__title(href='https://www.nestpick.com/' target='_blank') NESTPICK
    .card.card-4
      .card__icon
        i.fas.fa-bolt
      p.card__exit
        i.fas.fa-times
      a.card__title(href='https://uniacco.com/' target='_blank') UNIACCO
