doctype html
head
  style
      include ../static/styleSignup.css
  title Relocation
.wrapper
  h2 Registration
  form(action='/signup', method='post')
    .input-box
      input(type='text' placeholder='Enter your name' required='' name='username')
    .input-box
      input(type='email' placeholder='Enter your email' required='' name='email')
    .input-box
      input(type='text' placeholder='Enter your country' required='' name='country')
    .input-box
      input(type='password' placeholder='Create password' required='' name='password')
    .input-box
      input(type='password' placeholder='Confirm password' required='' name='confirmPassword')  
    select(name='opt', id='opt')
     

     option(value='Student') Student
     option(value='Resident') Resident

    .input-box.button
      input(type='Submit' value='Register Now')
    .text
        | Already have an account? 
        a(href='/login') Login now 

